{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}{{ flatpage.title }}{% endblock %}

{% block style %}

    <style>
        html, body {
            background-image: url("/static/img/1.jpg");
        }
    </style>
{% endblock %}

{% block content %}

    <div class="flatpage well">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                <img id="my-photo" class="img-responsive" src="{% static 'img/my_photo.JPG' %}">
            </div>
            <div>
                <h1>{{ flatpage.title }}</h1>
                <p>{{ flatpage.content }}</p>
            </div>
        </div>
    </div>

{% endblock %}




