{% load staticfiles %} {% load i18n %}

<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div  class="row">
            <div class="col-lg-4 col-md-5 col-sm-5 text-center">
                <h4>Особистий сайт Поліщука Михайла</h4>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-4 text-center">
                <h4>Я в соцмережах:</h4>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-3 text-center">
                <h4>2016 MySite</h4>
            </div>
        </div>
    </div>
</footer>