{% extends "base.html" %}{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="container">
            <div class="breadcrumbs">
                <a href="{% url 'blog:start_page' %}">{% trans 'Home' %}</a>
                &rsaquo; {% trans 'Password reset confirmation' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_title %}
    <div class="col-lg-8 col-xs-12 col-lg-offset-1">
        <h2>{{ title }}</h2>
    </div>
{% endblock %}

{% block content %}

    {% if validlink %}

        <div class="row">
            <div class="container">
                <div class="col-lg-12 col-xs-12" style="text-align: justify">
                    <h4>{% trans "Please enter your new_profile password twice so we can verify you typed it in correctly." %}</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="col-md-6 col-sm-6 form-group">
                    <form class="form-group" method="post">
                        {% csrf_token %}
                        {{ form.new_password1.errors }}
                        <label class="control-label" for="id_new_password1">{% trans 'New password:' %}</label>
                        {{ form.new_password1 }}
                        {{ form.new_password2.errors }}
                        <label class="control-label" for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        {{ form.new_password2 }}
                    <span class="input-btn">
                        <button class="btn btn-default" type="submit">{% trans 'Change my password' %}</button>
                    </span>
                    </form>
                </div>
            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="container">
                <div class="col-lg-12 col-xs-12" style="text-align: justify">
                    <h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new_profile password reset." %}</h4>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
