{% extends "base.html" %} {% load staticfiles %}


{% block title %}3D MAX | Блог 3d max{% endblock %}


{% block style %}

    <style>
        html, body {
            background-image: url('/static/img/2.jpg');
        }
    </style>

{% endblock %}


{% block content %}

    <!-- blog_3d_max -->
    <div class="well jumbotron">
        <h1>Hello, world!</h1>
        <p>Кілька місяців тому я проводив вебінар для початківців, де розказував про 5 перешкод на дорозі
            людини, що починає шлях до своєї першої роботи програміста. В даному вебінару ми пройшлись по
            найпроблемніших місцях і я спробував дати подальші інструкції щодо розгрібання даних каменів
            спотикання.
        </p>
    </div>

{% endblock %}